{% extends "::base.html.twig" %}

{% block title %}Status List{% endblock %}
{% block header %}Status Types List{% endblock %}

{% block body %}
    {% if statuses is not empty %}
        <div class="widget-box">
            <div class="widget-title"> <span class="icon"><i class="icon-th"></i></span>
                <h5>Data table</h5>
            </div>
            <div class="widget-content nopadding">
                <table class="table table-bordered data-table">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for status in statuses %}
                            <tr>
                                <td>{{ status.id }}</td>
                                <td>{{ status.name }}</td>
                                <td>
                                    <a href="{{ path('app_library_statusedit',{'id':status.id}) }}" class="btn btn-primary btn-xs"><i class="icon icon-edit"></i></a>
                                    <a href="{{ path('status_delete',{'id':status.id}) }}" class="btn btn-danger"><i class="icon icon-remove"></i></a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% endif %}
{% endblock %}
